/* CSS Document */


body {
    background-color: #FDFDDA;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #0D1940;
}

.RedBorder {
    border: 1px solid #7C0525;
}

.BlueBorder {
    border: 1px solid #0D1940;
}

a {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    color: #B60020;
    text-decoration: underline;
}

a:hover {
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    color: #B60020;
    text-decoration: none;
}

a.leftFrame {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #B60020;
    text-decoration: underline;
}		

a.leftFrame:hover {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    color: #0D1940;
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #0D1940;
    text-align: left;
    
}

h2 {	
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    color: #0D1940;
    text-align: center;
}

h2.normal {	
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #0D1940;
    text-align: center;
}

h3 {	
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #0D1940;
    text-align: left;
}

p.bold {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #0D1940;
    text-align: justify;
}

p {
    font-size: 16px;
    font-style: normal;
    color: #0D1940;
    text-align: justify;
}

p.small {
    font-size: 12px;
    font-style: normal;
    color: #0D1940;
    text-align: left;
}

ul.none {
    list-style-type: none
}

ul.disc {
    list-style-type: disc
}


ol.decimal {
    list-style-type: decimal
}

.form {
    background-color: #555E71;
    border: 1px solid #0D1940;
    font-size: 11px;
    font-style: normal;
    color: #0D1940;
}

.strong {    
    font-weight: bold;
}

.align-center {
    text-align: center;
}




table {
    font-size: 16px;
    font-style: normal;
    color: #0D1940;
    border: 0px;
}




/* ******************* registration ******************* */

td.align-left {
    text-align: left;
}

td.align-right {
    text-align: right;
}

table#regis {
    width: 85%;
    border: 0px;
    margin-left:auto;
    margin-right:auto;
}

#dobesCoc {
    background-color: white;
    width: 98%;
    height: 500px;
}

#i-agree {
    text-align: center;  
    font-weight: bold;
    
    font-size: 18px;
}

#buttons {   
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#dobes-coc-reply {  
    margin-left: 100px;
    width: 60%;
}

#contents-emailcheck {
    width: 60%;
    margin-left: 100px;
}

