<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="authenticationUtility"
            class="nl.mpi.rrs.model.utilities.ShibbolethUtil">
        <property name="emailAttributes">
            <list>
                <value>mail</value>
                <value>email</value>
            </list>
        </property>
        <property name="firstNameAttributes">
            <list>
                <value>givenName</value>
                <value>cn</value>
                <value>displayName</value>
                <value>eduPersonNickname</value>
            </list>
        </property>
        <property name="lastNameAttributes">
            <list>
                <value>surName</value>
                <value>sn</value>
            </list>
        </property>
        <property name="organizationAttributes">
            <list>
                <value>organizationName</value>
                <value>o</value>
                <value>eduPersonAffiliation</value>
                <value>damlrPersonAffiliation</value>
                <value>damlrPersonHostingInstitute</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="authenticationUtility" value-ref="authenticationUtility"/>
            </map>
        </property>
    </bean>


<!--    <bean id="registrationServlet"
            class = "nl.mpi.rrs.controller.RrsRegis"    >
        <property name="authenticationUtility" ref="authenticationUtility" />
    </bean>-->

	<!-- *** OVERRIDE standard config *** -->
	<!-- 
		To override the configuration for any bean present in the three xmls file above
		add here below the new configuration values as shown in the following example.
	 --> 
	<!-- 
	<bean id="damlrSrv" class="nl.mpi.lat.ams.service.impl.DamLrSrv">
		<property name="defaultHostingInstitute" value="MPINLA" />
		<property name="defaultHostingService" value="ams2/ldap" />
		<property name="defaultFedID" value="mpi.nl" />
		<property name="defaultDelimiter" value="@" />
		<property name="useFederateID" value="true" />
		<property name="damlrLdapApi" ref="damlrLdapApi" />
		<property name="ldapEnabled" value="true" />
	</bean>
	-->
</beans>