<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Resource Request System Version 1</description>
    <display-name>RRS</display-name>
    <context-param>
        <description>default imap mail host</description>
        <param-name>EMAIL_HOST</param-name>
        <param-value>mailhost.mpi.nl</param-value>
    </context-param>
    <context-param>
        <description>URL AMS lat access management system</description>
        <param-name>AMS_INTERFACE_LINK</param-name>
        <param-value>http://lux16.mpi.nl/am/ams2/index.face?nodeid=MPI0%23</param-value>
    </context-param>
    <context-param>
        <description>Corpus DB connection string</description>
        <param-name>RRS_V1_CORPUS_SERVER_JDBC_URL</param-name>
        <param-value>jdbc:postgresql://lux16.mpi.nl:5432/corpusstructure</param-value>
    </context-param>
    <context-param>
        <description>Corpus DB username</description>
        <param-name>RRS_V1_CORPUS_SERVER_DB_USER</param-name>
        <param-value>webuser</param-value>
    </context-param>
    <context-param>
        <description>Corpus DB webuser password</description>
        <param-name>RRS_V1_CORPUS_SERVER_DB_PASS</param-name>
        <param-value>start1a</param-value>
    </context-param>
    <context-param>
        <description>email address of user corpman corpman@mpi.nl</description>
        <param-name>EMAIL_ADDRESS_CORPMAN</param-name>
        <param-value>twan.goosen@mpi.nl</param-value>
    </context-param>
    <context-param>
        <description>Prefix for http link to nodeId e.g.:
        /corpus1.mpi.nl/ds/imdi_browser?openpath=MPI177915%23
        </description>
        <param-name>OPENPATH_PREFIX</param-name>
        <param-value>http://corpus1.mpi.nl/ds/imdi_browser?openpath=</param-value>
    </context-param>
    <context-param>
        <description>Link to location of file with DoBES Code of Conduct. /ds/RRS_V1/dobes_coc_v2.html</description>
        <param-name>DOBES_COC_LINK</param-name>
        <param-value>default</param-value>
    </context-param>
    <context-param>
        <description>For saving RRS registrations temporarily</description>
        <param-name>REGISTRATION_FILENAME</param-name>
        <param-value>/tmp/registration.txt</param-value>
    </context-param>
    <context-param>
        <description>Name of the Dobes code of conduct license as stored in the AMS database</description>
        <param-name>DOBES_COC_LICENSE_NAME</param-name>
        <param-value>Dobes Code of Conduct v2</param-value>
    </context-param>

    <!-- Begin SHHAA authentication filter -->
    <context-param>
        <description>Location shhaa.xml for SHIB</description>
        <param-name>ShhaaConfigLocation</param-name>
        <param-value>/WEB-INF/shhaa.xml</param-value>
    </context-param>
    <filter>
        <description>SHIB filter</description>
        <filter-name>AAIFilter</filter-name>
        <filter-class>de.mpg.aai.shhaa.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AAIFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>SHIB Listener</description>
        <listener-class>de.mpg.aai.shhaa.config.ConfigContextListener</listener-class>
    </listener>
    <!-- End SHHAA authentication filter -->


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-rrs-auth.xml</param-value>
    </context-param>

    <listener>
        <description>Spring framework context loader listener</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <description>Context listener</description>
        <listener-class>nl.mpi.rrs.RrsContextListener</listener-class>
    </listener>



    <servlet>
        <servlet-name>RRSServlet</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Test Context listener</description>
        <servlet-name>RrsContextListener</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsContextListenerTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrsIndex</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrsIndex2</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsIndex2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrsRegis</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsRegis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrsDoRegis</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsDoRegis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrsDoCoc</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsDoCoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrsDoRegisEmailCheck</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsDoRegisEmailCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RrsLogin</servlet-name>
        <servlet-class>nl.mpi.rrs.controller.RrsLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RRSServlet</servlet-name>
        <url-pattern>/Rrs.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsContextListener</servlet-name>
        <url-pattern>/RrsContextListener.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsIndex</servlet-name>
        <url-pattern>/RrsIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsIndex2</servlet-name>
        <url-pattern>/RrsIndex2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsRegis</servlet-name>
        <url-pattern>/RrsRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsDoRegis</servlet-name>
        <url-pattern>/RrsRegis.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsDoCoc</servlet-name>
        <url-pattern>/RrsCoc.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsDoRegisEmailCheck</servlet-name>
        <url-pattern>/RrsRegisEmailCheck.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RrsLogin</servlet-name>
        <url-pattern>/RrsLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>nl.mpi.rrs.model.errors.RrsGeneralException</exception-type>
        <location>/view/error/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/view/error/errorUnknown.jsp</location>
    </error-page>
    <!-- ***** DATA SOURCEs ***** -->
    <resource-ref>
        <description>CSDB Datasource</description>
        <res-ref-name>jdbc/CSDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <!-- ** AMS-1 ***** -->
    <!-- resource-ref>
	    <description>USERDB Datasource</description>
	    <res-ref-name>jdbc/USERDB</res-ref-name>
	    <res-type>javax.sql.DataSource</res-type>
	    <res-auth>Container</res-auth>
	</resource-ref -->
    <!-- ** AMS-2 ***** -->
    <resource-ref>
        <description>AMS2DB Datasource</description>
        <res-ref-name>jdbc/AMS2DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>DAMLR-LDAP Datasource</description>
        <res-ref-name>ldap/DAMLR</res-ref-name>
        <res-type>nl.mpi.common.catalina.LdapJndiResource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>MPI-KDC Datasource</description>
        <res-ref-name>kdc/MPI-NL</res-ref-name>
        <res-type>nl.mpi.common.catalina.KerberosJndiResource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
